
.headerImg{
  width:80px; /* Set the desired width */
  height: 47px; /* Set the desired height */
/* background-color: rgb(45, 43, 46);
border-radius: 100px; */


}
.headerImg>img{
  margin: 0 2rem;
}

.headerLogo{
 width: 100% ;
 object-fit: cover;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* background-color: #333; */
  color: white;
}

.navbar-logo {
  flex: 1;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none; /* Hide menu icon by default */
}

.menu-items {
  list-style: none;
  display: flex;
}

.menu-items li {
  margin-right: 1rem;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .menu-icon {
    display: block; /* Show menu icon for smaller screens */
    cursor: pointer;
    margin-right: 2rem;
  }

  .menu-items {
    display: none; /* Hide menu items by default on smaller screens */
    flex-direction: column;
    position: absolute;
    top: 70px;
    background: var(--planCard);
    width: 100%;
    left: 0;
    padding: 2rem;
    z-index: 1; /* Place menu above other content */
  }

  .menu-items.active {
    display: flex; /* Show menu items when menu is active */
  }
}











/* button  */
.cta {
  border: none;
  background: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 3px;
  font-size: 14px;
  /* padding-right: 6px; */
  text-transform: uppercase;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: white;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 70%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--orange);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}